<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerIp" value="127.0.0.1"/>
    <add key="SocketPortCrm" value="8886"/>
    <add key="SocketPortFtp" value="8887"/>
    <add key="SocketPortMsgr" value="8888"/>
    <add key="MyId" value=""/>
    <add key="PhoneExtension" value=""/>
    <add key="MyPass" value=""/>
    <add key="AutoStart" value="false"/>
    <add key="TopMost" value="false"/>
    <add key="NoPopUpOnCall" value="false"/>
    <add key="NoPopUpOnCallOutBound" value="false"/>
    <add key="SaveMyPass" value="false"/>
    <add key="CustomFont" value=""/>
    <add key="CustomColor" value=""/>
    <add key="DbServerIp" value="114.202.2.33"/>
    <add key="DbPort" value="3307"/>
    <add key="PromotionUrl" value="http://jmtech.co.kr/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CrmPatchShown" value="false"/>
    <add key="CrmPatchVersion" value="Ver 2.3.1.1"/>
    <add key="CrmUseTongUser" value="false"/>
    <add key="CrmUseUserDef" value="false"/>
    <add key="CrmNoCloseOnSave" value="false"/>
    <add key="CrmUseAlarmEnabled" value="true"/>
    <add key="CrmUseAlarmPeriod" value="5"/>
    <add key="CrmUseAlarmStart" value="10"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
